<!-- BEGIN DIV #VIDEO -->
<div id="video">
  <div class="row">
    <div class="col-md-6 video-iframe wow fadeInLeft" data-wow-offset="300">
      <iframe id="iframe" src="http://player.vimeo.com/video/31211553?title=0&amp;byline=0&amp;portrait=0&amp;color=3498db" width="100%" height="500" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

    <div class="col-md-6 details right-column">

      <!-- Div #video title -->
      <h1 class="title wow fadeInRight" data-wow-offset="300">About - <strong><%= t("#{site_name}.home_main_title") %></strong></h1>

      <!-- Container colored line two -->
      <div class="container-colored-line-two wow bounceInRight" data-wow-offset="300">

        <!-- Colored line two -->
        <hr class="colored-line-two">

        <!-- Additional colored line two -->
        <div class="add-colored-line-two"></div>
      </div><!-- end of container colored line two -->

      <!-- Div #why description -->
      <em class="description wow fadeInDown" data-wow-delay=".3s" data-wow-offset="300">
        Sign up today to get your very own professional, creative and modern <%= t("#{site_name}.main_keyword") %>.
      </em>

      <!-- Div .description -->
      <div class="details-container-description">

        <p class="why-description wow fadeInRight" data-wow-offset="300">
          Tired of searching free <%= t("#{site_name}.main_keyword") %> builder that can really work for you? You’ve come to the right place. It’s time
          to put an end to your entire needs as <%= t("#{site_name}.home_main_title") %> is providing free <%= t("#{site_name}.main_keyword") %> builder by using which you can craft
          a <%= t("#{site_name}.main_keyword") %> which can create that everlasting first impression on your employer’s mind. That’s not all, you can take
          advantage of free <%= t("#{site_name}.main_keyword") %> templates with customized URL of your name (Smart, isn’t it?). What all does it takes?
          Just sign up with us, enter your academic skills and professional information, pick a <%= t("#{site_name}.main_keyword") %> template of your own
          choice and you’re ready to get your dream job.
        </p>
        <p class="why-description wow fadeInRight" data-wow-offset="300">
          Share your <%= t("#{site_name}.main_keyword") %> directly with the prospective employer or friend with a  simple URL link. No more hassle of
          creating your own template and attaching it to the E-mail. Drop <%= t("#{site_name}.main_keyword") %> enables you to easily share your <%= t("#{site_name}.main_keyword") %>
          across the World Wide Web, which is viewable on all devices. Last but not the least, anyone can save it as PDF
          or share it further from any device.
        </p>
      </div><!-- end of div .description -->
    </div>
  </div>
</div>
