<!-- BEGIN OF DIV #FEATURES -->
<div id="features" class="features">

  <!-- Div #features title -->
  <h1 class="wow bounceIn" data-wow-offset="100"><strong>Free</strong> <%= t("#{site_name}.main_keyword") %> Builder</h1>

  <!-- Container colored line -->
  <div class="container-colored-line wow bounceIn" data-wow-offset="200">

    <!-- Colored line -->
    <hr class="colored-line">

    <!-- Additional colored line -->
    <div class="add-colored-line"></div>

  </div><!-- End of container colored line -->

  <!-- Div #features description -->
  <em class="wow fadeInDown" data-wow-delay=".3s" data-wow-offset="200">Awesome features to present  you a optimal <%= t("#{site_name}.main_key") %>.</em>

  <!-- BEGIN DIV .CONTAINER-COLUMN -->
  <div class="row container-column">
    <!-- Div #features - top column -->
    <div class="col-md-12 col-lg-12 top-column wow bounceInLeft">
      <div class="col-md-4">
        <div class="fa fa-upload"></div>
        <h4>Easy Upload</h4>
        <em>Use the free <%= t("#{site_name}.main_keyword") %> builder to create <%= t("#{site_name}.main_keyword") %> in less than 5 minutes</em>
      </div>

      <div class="col-md-4">
        <div class="fa fa-link"></div>
        <h4>Friendly url</h4>
        <em><%= t("#{site_name}.home_main_title") %> provides web URL for your <%= t("#{site_name}.main_keyword") %></em>
      </div>

      <div class="col-md-4">
        <div class="icon icon-sun2"></div>
        <h4><%= t("#{site_name}.main_key") %> templates</h4>
        <em>Choose among numerous eye catching modern <%= t("#{site_name}.main_keyword") %> templates</em>
      </div>
    </div><!-- end of div #features left column -->

    <!-- *************************** -->

    <!-- Div #features - bottom column -->
    <div class="col-md-12 col-lg-12 bottom-column wow bounceInRight">
      <div class="col-md-4">
        <div class="icon icon-mobile"></div>
        <h4>Responsive design</h4>
        <em>Now your <%= t("#{site_name}.main_keyword") %> will be visible on multiple devices</em>
      </div>

      <div class="col-md-4">
        <div class="icon icon-eye"></div>
        <h4>Easy share</h4>
        <em>You can share your <%= t("#{site_name}.main_key") %> via email & social media. Isn’t it fantastic?</em>
      </div>

      <div class="col-md-4">
        <div class="fa fa-download"></div>
        <h4>Download pdf</h4>
        <em><%= t("#{site_name}.home_main_title") %> lets your <%= t("#{site_name}.main_key") %> viewer to download it as PDF from anywhere</em>
      </div>
    </div><!-- end of div #features left column -->
  </div>
  <!-- END OF DIV .CONTAINER-COLUMN -->
</div>
<!-- END OF DIV #FEATURES -->