<%= render partial: 'home/index_navbar' %>

<div id="main-content" class="fade out">
  <%= render partial: 'home/index_home' %>
  <div id="features-target"></div>
  <%= render partial: 'home/index_features' %>
  <div id="action-target"></div>
  <%= render partial: 'home/index_screenshot' %>
  <%#= render partial: 'home/index_action' %>
  <div id="why-target"></div>
  <%= render partial: 'home/index_video' %>
  <%#= render partial: 'home/index_why' %>
  <div id="describe-target"></div>
  <%= render partial: 'home/index_describe' %>
  <%#= render partial: 'home/index_testimonials' %>
  <div id="most-viewed-resumes"></div>
  <%= render partial: 'home/index_valuable_users' %>
  <div id="screenshot-target"></div>
  <%#= render partial: 'home/index_screenshot' %>
  <%= render partial: 'home/index_services' %>
  <div id="downloads-target"></div>
  <%= render partial: 'home/index_downloads' %>
  <%#= render partial: 'home/index_pricing' %>
  <div id="contact-target"></div>
  <%= render partial: 'home/index_contact' %>
</div>
