<div class="single-page">
    <h1>Privacy Policy:</h1>
    <hr/>
    <p>Privacy of our users is the top priority of <%= site_name.capitalize %>. It is our aim to provide our users a safe, secure user experience.
      This Privacy Policy applies to the data collection and usage policies on <%= site_name.capitalize %> website.</p>
    <p>The <%= site_name.capitalize %> contains links to other websites over which we have no control. We are not liable for the privacy policies
      or practices of other websites to which you choose to link from our site. We encourage you to review and study the privacy
      policies of those sites so you can understand how they collect, use and share your information.</p>

    <h2>Information we collect</h2>
    <p>We collect your information from you when you create profile by registering our site, subscribe to our newsletter, fill
      out a form or respond to a survey. We request the following personally identifiable information (PII) from you: your name,
      address, e-mail address, telephone number, physical address and date of birth if you place order on our website. We also
      collect your demographic information that is not unique to you such as interests, gender and favorites.</p>
    <p>You may, however, can visit our site anonymously.</p>
    <p>If you choose to use our referring/share service to tell a friend about <%= site_name.capitalize %> or refer a job posting to a friend, your
      friend’s email address is the sole information we’ll ask for this purpose. One-time email inviting your friend to visit
      <%= site_name.capitalize %> website or view the job posting will be sent to your friend. This information will only for this purpose not for
      any other purpose than to send your friend a one-time email. You’ll be provided two options to refer your friends to our site.
      When you choose to access your email account from your <%= site_name.capitalize %> account, and send your personal contacts an email, we only
      use the email information you select by checking the box next to each email to service your request to send this one time email
      from your account.</p>
    <p>Without your explicit consent no email information will be stored from your email account. You can also enter a friend’s email
      directly into the “Invite Colleagues” email field. We do not store this information nor is it shared with any third parties for
      their commercial/promotional purposes.</p>

    <h2>What do we use your information for?</h2>
    Any of the information we collect from you may be used in one of the following ways:

    <p>Personalization/Customization of User’s Experience<br/>
    (your information helps us to better respond to your individual needs)</p>
    <p>Improving Performance of our Website<br/>
    (we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>
    <p>Administration of contest, promotion, survey or other site feature</p>
    <p>For sending periodic emails</p>
    <p>The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.</p>

    <h2>Do we disclose any information to outside parties?</h2>
    <p>We do not trade, sell, or otherwise transfer to outside parties your personally identifiable information (PII). Your PII is
      not disclosed to third parties for their commercial/promotional purposes. This does not include trusted third parties who assist
      us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information
      confidential. Your information can also be released when we believe release is appropriate to comply with the law, enforce our
      site policies, or protect ours or others rights, safety or property. However, non-personally identifiable visitor information may
      be provided to other parties for advertising, marketing, or other uses.</p>

    <h2>Personal Information on Resume and Profiles</h2>
    Since <%= site_name.capitalize %> is a career site, we provide you two options to adjust accessibility of your resume:

    <ul>
      <li>
        You can store your resume in our database, but not allow it to be public for potential employers. This means that you can use
        it to apply for a job online; however employers and recruiters will not have right/access to search it through our resume database.
      </li>
      <li>
        If you have a private resume, but apply to a job posting on <%= site_name.capitalize %>, the employer to whom you send your resume will be able to
        view your contact information.
      </li>
    </ul>

    <p>There is limited access to our Public resume database only registered employers, recruiters, hiring managers. Headhunters, or and human
      resource professionals.</p>
    <p>You can delete your profile or resume from <%= site_name.capitalize %> but <%= site_name.capitalize %> is not responsible for the privacy of resumes or profiles which
      employers, recruiters or others have already retained with them.</p>

    <h2>Third Party Links</h2>
    <p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have
      their own separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of
      these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feed about these sites.</p>

    <h2>Posting to Public Areas of <%= site_name.capitalize %></h2>
    <p>The information posted in the public areas of <%= site_name.capitalize %> can be easily access by anyone. <%= site_name.capitalize %> have no control over all such parties.
      We are not responsible for its use made by third parties.</p>

    <h2>Do we use cookies?</h2>
    <p>Yes, we use cookies. A cookie is a piece of information in the form of a very small text file that is placed on an internet user's hard drive.
      It is generated by a web page server, which is basically the computer that operates a web site. The information the cookie contains is set by
      the server and it can be used by that server whenever the user visits the site. A cookie can be thought of as an internet user's identification
      card, which tell a web site when the user has returned. Cookies are uniquely assigned to your computer, and can only be read by a Web server in
      the domain that issued the cookie to you.</p>
    <p>One of the primary purposes of cookies is to save you time. It tells our web server that you have returned to a specific page. With the help of
      cookies we can deliver faster and more accurate results and a more personalizes site experience.</p>
    <p>You have a choice to accept or decline cookies. Each browser has options to automatically accept or decline or inform you whenever cookies are
      offered. In such a case you can accept or decline cookies yourself. If you choose to decline cookies, however, that may have a negative impact on
      your experience on <%= site_name.capitalize %>.</p>

    <h2>Modification of Your Information</h2>
    <p>You can review, correct, update or change your <%= site_name.capitalize %> account profile at any time “My Setting” page or by emailing our webmaster at
      ‘<%= mail_to "support@#{site_name}.com" %>’. These points of contact also allow you to edit your subscription to
      our newsletters and promotional emails.</p>
    <p>If you opted to receive job postings, commercial e-mails or other communications from <%= site_name.capitalize %> or third parties at the time you created
      a <%= site_name.capitalize %> account, but subsequently change your mind, you may opt-out by editing your <%= site_name.capitalize %> Account Profile as described above. If
      you previously opted not to receive such communications, you may later opt-in by editing your <%= site_name.capitalize %> Account Profile as well.</p>
    <p>We retain indefinitely all the information we gather about you in an effort to make your repeat use of <%= site_name.capitalize %>, practical, and relevant.
      Of course, you can delete your resume from <%= site_name.capitalize %>'s online database and close your <%= site_name.capitalize %> account at any time. The procedure for this
      is to inform us via our feedback form. In such an event we will remove all our copies of your resume from <%= site_name.capitalize %>, your <%= site_name.capitalize %> account
      information and remove your profile, except for an archival copy ( not accessible on the Internet).</p>

    <h2>Our Commitment to Data Security</h2>
    <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical,
      electronic and managerial procedures for protection and safety of the information we collect.  However, we cannot guarantee that unauthorized
      third parties will never be able to breach those measures or use your personal information for improper purposes.</p>

    <h2><%= site_name.capitalize %>’s Commitment to Children’s Privacy</h2>
    <p>Privacy of children is very essential to us. For this purpose we do not intend to collect or maintain the personal data of children less than
      13 years of age.</p>

    <h2>Modification of Privacy Policy</h2>
    <p>A prominent notice on the website will be displayed 30 days prior to the changes in the privacy policy for <%= site_name.capitalize %>. This is made sure to opt
      it so that our clients should know about the changes we are going to make about the information we collect, the use of that information and to
      whom we will disclose it.</p>
    <p>If at any time, you have questions or any concerns about this Privacy Policy or believe that we have not adhere to this Privacy Policy, please
      feel free to use our feedback form. Commercially reasonable efforts will be made on our side to promptly resolve your problem or answer your questions.</p>

    <h2>Questions and Contact Information</h2>
    <p>If you want to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information
  please contact our Privacy Compliance Officer at <%= mail_to "privacy@#{site_name}.com" %> and for other legal matters to <%= mail_to "legal@#{site_name}.com" %>.</p>
</div>
