<div class="single-page">
  <h1>Terms of Use:</h1>
  <hr/>

  <p>Welcome to <%= site_name.capitalize %>. These Terms of use apply to <%= link_to "www.#{site_name}.com", "http://www.#{site_name}.com" %>. Thank you for visiting and learning more about <%= site_name.capitalize %>.
    It is important to us that our visitors have a special experience while using <%= site_name.capitalize %> and that when you use this website you are
    fully aware of your respective legal rights and obligations. This is the reason for which Terms are created as the legally binding
    terms to govern your use of this Site. Please go through these Terms carefully before using the Site, because they affect your legal
    rights and obligations.</p>

  <h2>Terms</h2>
  <p>By using or viewing this web site, you are agreeing to abide by these website Terms of Use, all applicable laws and regulations,
    and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you
    are forbidded from using or accessing or viewing this site and you should immediately leave this website. The materials contained
    in <%= site_name.capitalize %> website are protected by applicable copyright and trade mark law.</p>
  <p><%= site_name.capitalize %> allows people to generate resumes online based on the data provided by them and facilitate them to get jobs.</p>

  <h2>Use License</h2>
  <p>Unless otherwise stated, <%= link_to "www.#{site_name}.com", "http://www.#{site_name}.com" %> and/or its licensors own the intellectual property rights in
    the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>

  <ol>
    <li>
      Permission is granted to temporarily download one copy of the materials (information or software) on <%= site_name.capitalize %> website for personal,
      non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
      <ul>
        <li>Modify or copy or reproduce or republish the materials;</li>
        <li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial)</li>
        <li>Attempt to disassemble or decompile or reverse engineer or disassemble or otherwise reducing the code used in any software
          contained on <%= site_name.capitalize %>’s website</li>
        <li>Remove any copyright or other proprietary notations from the materials; or</li>
        <li>Transfer the materials to another person or “mirror” the materials on any other server</li>
      </ul>
    </li>
    <li>
      On the violate any of these restrictions this license will automatically terminate and may be terminated by <%= site_name.capitalize %> at any time.
      Upon terminating of this license your viewing or accessing of these materials should end, you must destroy any download materials
      (electronic or printed format) in your possession.
    </li>
  </ol>

  <h2>Resume Posting Service/ Business Card Listing</h2>
  <p><%= site_name.capitalize %> facilitates the posting of your resume or CV on various third party career sites You agree that <%= site_name.capitalize %> will use proprietary
    web based information gathering tools to create a career profile for you if you opt to generate resume online. We will and/or the <%= site_name.capitalize %>
    Family will use information supplied by you (including, without limitation, sensitive personal data) to aid the recruitment process and
    associated administrative functions as well. This involves us and/or the <%= site_name.capitalize %> Family, amongst other things, processing and storing
    information (including, without limitation, sensitive personal data) and passing or making available online such information to prospective
    employers, clients; vacancies and placements will be provided to candidates. We use third parties to help us process your information as part
    of the recruitment process. To provide you with better service we may collect and aggregate data from the information supplied by you to help
    us to understand our users as a group. We may also share aggregate information, without disclosing individual names or identifying information,
    with selected third parties. You consent to us and the <%= site_name.capitalize %> Family using information provided by you (including, without limitation,
    sensitive personal data) in each of these ways.</p>

  <h2>Template Design and Graphics</h2>
  <p>The design and graphics of resume template cannot be copied, replicated, reproduced, or otherwise used to produce other templates for resale
    or other commercial/profitable purposes. <%= site_name.capitalize %> will take legal action against any individual/ organization found to be involved in or
    supporting any unauthorized use of template design and graphics.</p>

  <h2>Job Alerts</h2>
  <p><%= site_name.capitalize %> may facilitate you with the job alerts. For this purpose third parties and automated search engines may also be used to provide
    job alerts, matching employment opportunities found on third party job sites with your resume or Career Profile, job search requests submitted
    by you, and/or other usage date relating to your use of <%= site_name.capitalize %> Applications. <%= site_name.capitalize %> tries to match the information available to ensure
    job opportunities presented to you in job notifications match the type of career opportunities desired by you but <%= site_name.capitalize %> makes no guarantee
    that you will receive employment opportunities leads you desire.</p>

  <h2>Limited Access</h2>
  <p>Access to certain areas of this website is restricted. It is at <%= site_name.capitalize %>’s discretion to restrict access to areas of this website, or indeed
    this entire website.</p>
  <p>If <%= site_name.capitalize %> provides you with a user ID and password to enable you to access restricted areas of this website or other content or services,
    you must ensure that the user ID and password are private and must be kept confidential. If you believe that your password is known to someone
    else or if it may be used in an unauthorized way, you should immediately inform us. For any unauthorized or improper use or disclosure of any
    password <%= site_name.capitalize %> accepts no liability.</p>
  <p><%= site_name.capitalize %> may disable your user ID and password in <%= site_name.capitalize %>’s sole discretion without notice or explanation.</p>

  <h2>Warranty Disclaimer</h2>
  <p>This site is provided by <%= link_to "www.#{site_name}.com", "http://www.#{site_name}.com" %> on an "AS IS" and "AS AVAILABLE" basis.</p>
  <p><%= site_name.capitalize %> does not guarantee that it will operate error-free or that <%= site_name.capitalize %> will be available 100% of the time. <%= site_name.capitalize %> does not guarantee
    that this website is spyware, virus, or malware free. If the User experiences any faults in data or software, <%= site_name.capitalize %> accepts no responsibility
    for these events. The <%= site_name.capitalize %> site, services and content are provided without warranties of any kind, to the fullest extent of the law.</p>

  <h2>Liability Limitations</h2>
  <p>In no event will <%= site_name.capitalize %>, its officers, directors, employees, editors, and representatives be held liable for any damages of any kind, including
    without limitation compensatory, direct, indirect, or consequential damages, loss of or damage to property, loss of income or data,  and claims of
    clients or third parties arising from any client's rejection from any educational program, employment offer, or other opportunity of any kind. You
    submit jobs, resumes and any other material at your own risk. Further, you agree to hold us harmless from any academic, administrative, criminal, or
    civil proceedings.</p>

  <h2>Revisions and Errata</h2>
  <p>The material and content appearing on the <%= site_name.capitalize %> website could include technical, typographical, typographical, or photographic errors. <%= site_name.capitalize %>
    reserve every right to correct errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the service
    or on any related website is inaccurate or false at any time without prior notice. <%= site_name.capitalize %> does not, however, make any commitment to update, amend,
    modify, or to clarify information.</p>

  <h2>Third-Party Links</h2>
  <p><%= site_name.capitalize %> may contain links of third party websites. These websites may contain information about job opportunities, employers, job candidates or material
    which people may find inappropriate or offensive. Third-party links may direct you to third party websites that are not affiliated with us. We are not
    responsible for evaluating or examining the content or accuracy and we do not warrant and will not have any responsibility or liability for any third-party
    materials or websites, or for any other materials, services or information of third-parties.</p>
  <p>We are not liable for any damages or harms related to the purchase or use services, resources, content, or any other transactions made in connection with
    any third-party websites. Please review carefully the third-party's policies and make sure you understand them before you engage in any transaction. Complaints,
    concerns, claims, or questions regarding third-party products should be directed to the third-party. Use of any such linked web site is at the user's own risk.</p>
  <p>We strongly encourage you to be careful and use caution before providing any sensitive information (e.g., financial information or social security numbers) to
    any third party and to make whatever investigation you feel appropriate or necessary before proceeding with any communications with any of these third parties.</p>

  <h2>Changes to the Terms of Use</h2>
  <p><%= site_name.capitalize %> may revise these terms of use for its website at any time without notice. By accessing this website you are agreeing to be bound by then current
    version of these Terms of Use.</p>

  <h2>Governing Law</h2>
  <p>Any claim relating to <%= site_name.capitalize %>'s website shall be governed by the laws of the State of Bangladesh without regard to its conflict of law provisions.</p>

  <h2>Intellectual Property Information</h2>
  <p><%= site_name.capitalize %> respects the Intellectual Property rights and asks users of this Site to do the same. All the data, content, material, software, communications,
    videos, photos, sounds and other material and services that can be accessed by users on our site is protected by copyrights, service marks, trademarks, patents
    or other proprietary rights and laws, and is the sole property of <%= site_name.capitalize %>. You can access and use the content as permitted by us. You are solely responsible
    for obtaining written permission before using any copyrighted material that is available on our website. Any unauthorized use of the materials appearing on this
    site may violate trademark, copyrights and other applicable laws and could result in civil or criminal penalties.</p>

  <h2>Refund Policy</h2>
  <p>The Service is billed in advance and is non-refundable. There will be no refunds or credits for service. In order to treat everyone equally, no exceptions will
    be made.</p>
</div>
