<%# locals: { experience: Experience object } %>
<div class="col-lg-12 a-bdr">
  <div class="col-lg-12  bar-bg">
    <div class="col-lg-11 tp-title">
      <h3><%= experience.company %></h3>
      <span><%= "( #{ date_format experience.start_date } to #{ experience.current? ? 'current' : date_format(experience.end_date) } )" %></span>
    </div>
    <div class="col-lg-1 text-right edit-btn">
      <%= link_to edit_experience_path(experience), remote: true do %>
        <i class="fa fa-pencil-square"></i>
      <% end %>
      <%= link_to experience_path(experience), method: :delete, remote: true do %>
          <i class="fa fa-times"></i>
      <% end %>
    </div>
    <div class="col-lg-11 tp-sub-title">
      <%= experience.designation %>
    </div>
  </div>
  <div class="col-lg-12 pd-area">
    <!--<h4 class="sub-title"><%#= experience.title %></h4>-->
    <p><%= experience.description %></p>
  </div>
</div>
