<div class="media mar-b50">
  <div class="media-body">
    <% if current_user.hobbies_interests.present? %>
      <table class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <tr>
          <th class="col-lg-3 col-sm-3 col-md-3 col-xs-3">Hobbies/Interest</th>
          <th>Actions</th>
        </tr>

        <% current_user.hobbies_interests.each do |hobbies_interest| %>
          <tr>
            <td><%= hobbies_interest.title %></td>
            <td>
              <%= link_to edit_hobbies_interest_path(hobbies_interest), remote: true do %>
                <i class="fa fa-pencil-square-o"></i> Edit
              <% end %> |
              <%= link_to hobbies_interest_path(hobbies_interest), method: :delete, remote: true do %>
                <i class="fa fa-times"></i> Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="btn-group center-xs mar-t20" id="add-new-hobbies_interest">
        <%= link_to new_hobbies_interest_path, class: 'btn btn-large default-button', remote: true do %>
          <i class="fa fa-plus-square"></i> Add New
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="hobbies_interest-form-container"><%= render partial: 'hobbies_interests/form', locals: {hobbies_interest: HobbiesInterest.new}  unless current_user.hobbies_interests.present? %></div>
